region = "us-west-2"
environment = "myenv"
availability_zones = ["us-west-2a", "us-west-2b"]
cidr_vpc = "172.16.0.0/16"
allowed_ingress_list = []
ami = "ami-6df1e514"
user = "ec2-user"
iam_instance_profile = ""
key_name = ""
private_key_path = ""
bastion_private_key_path = ""
authorized_key_path = ""
zookeeper_instance_type = "t2.medium"
zookeeper_addr = 20
kafka_instance_type = "m4.large"
brokers_per_az = 2
num_partitions = 10
cloudwatch_alarm_arn = ""
